@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@700&family=Hurricane&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,900;1,600&display=swap");
.container {
  max-width: 1208px;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

.btn {
  width: 204px;
  height: 70px;
  border-radius: 50px;
  background-color: #5E3BEE;
  color: #fff;
}

.btn a {
  font-size: 12px;
}

.btn:hover {
  background-color: #7152f0;
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

.btn a, .experience, .experience .e_wrapper .e_status, .serviceContent, .serviceCards .card, .about .aboutcontent, .CTA .CTAcontent, .CTA .CTAcontent .CTAtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
  -webkit-transition: all .5s  ease;
  transition: all .5s  ease;
}

header {
  width: 100%;
  background: #f9f9fc;
  position: fixed;
  z-index: 1000;
}

header .nav {
  width: 1440px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .logoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

header .nav .span {
  width: 19px;
  background: #5E3BEE;
  border-radius: 50%;
  display: inline-block;
  height: 19px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}

header .nav .headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
}

header .nav .headerLinks a {
  margin-left: 46px;
  color: #333333;
  display: inline-block;
  text-align: center;
  position: relative;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  border-radius: 50px;
}

header .nav .headerLinks a:hover, header .nav .headerLinks a:focus {
  background: #5E3BEE;
  color: #fff;
}

header .nav .hiremeBtn {
  background: #5E3BEE;
  width: 124px;
  height: 40px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}

header .nav .hiremeBtn a {
  color: #fff;
}

header .nav .hiremeBtn a img {
  margin-left: 8.33px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f9f9fc;
}

main .container {
  height: 747px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 39px;
}

main .container .mainText {
  margin-top: 119px;
}

main .container .mainText small {
  color: #5E3BEE;
  font-size: 16px;
  font-weight: 500;
}

main .container .mainText h1 {
  line-height: 78px;
  width: 479px;
  height: 326px;
  font-weight: 700;
  font-size: 60px;
  margin: 32px 0;
}

main .container .mainText .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .mainText img {
  margin-right: 11.5px;
}

main .container .mainText .downloadBtn {
  background-color: transparent;
  color: #333333;
}

main .container .mainText .downloadBtn:hover {
  background: #F1F0FB;
}

main .container .mainImg {
  padding-top: 66px;
}

.experience {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1208px;
  height: 314px;
  margin: 0 auto;
}

.experience .e_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding: 93px 116px;
  margin: 0 auto;
}

.experience .e_wrapper .e_status {
  width: 271px;
  height: 88px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.5px;
  margin-left: 40px;
}

.experience .e_wrapper .e_status h2 {
  font-size: 48px;
  font-weight: 600;
  height: 56px;
}

.experience .e_wrapper .e_status p {
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  margin-top: 8px;
}

.services {
  height: 569px;
  width: 100%;
  padding: 40px 0;
}

.serviceContent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.serviceContent h5 {
  font-size: 16px;
  font-weight: 500;
  color: #5E3BEE;
}

.serviceContent h2 {
  margin: 12px 0;
  font-size: 44px;
  font-weight: 600;
}

.serviceContent p {
  width: 600px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 64px;
}

.serviceCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.serviceCards .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 376px;
  height: 286px;
  -webkit-box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  background: #FFFFFF;
  padding: 52px 34px;
}

.serviceCards .card img {
  height: 36px;
  width: 36px;
}

.serviceCards .card h3 {
  margin: 45px 9px;
  font-size: 20px;
  font-weight: 500;
}

.serviceCards .card p {
  text-align: center;
}

.about {
  background: #f9f9fc;
  height: 778px;
  position: relative;
}

.about .aboutcontent .aboutText {
  padding: 110px 0;
}

.about .aboutcontent .aboutText h5 {
  font-size: 16px;
  color: #5E3BEE;
}

.about .aboutcontent .aboutText h2 {
  width: 482px;
  height: 326px;
  font-size: 60px;
  margin-bottom: 62px;
}

.about .aboutcontent .aboutText p {
  height: 76px;
  width: 584px;
}

.about .aboutcontent .aboutText a img {
  margin-right: 10.5px;
}

.about .aboutcontent .aboutImg {
  position: absolute;
}

.about .aboutcontent .aboutImg .p1 {
  position: absolute;
  left: 968.35px;
  top: -98.39px;
}

.about .aboutcontent .aboutImg .p2 {
  position: absolute;
  left: 945px;
}

.about .aboutcontent .aboutImg .p3 {
  position: absolute;
  left: 923px;
}

.clientsImg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 125px 0;
}

.portfolioContent h5 {
  color: #5E3BEE;
  font-size: 16px;
}

.portfolioContent .portfolioGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 43px;
}

.portfolioContent .portfolioGrid h2 {
  margin: 9px 0;
}

.portfolioContent .portfolioGrid .pCard {
  width: 583px;
  height: 532px;
  background: #c4c4c4;
  position: relative;
  -webkit-box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.portfolioContent .portfolioGrid .pCard .pCardText {
  position: absolute;
  bottom: 0px;
  width: 583px;
  height: 143px;
  background: #fff;
  border-radius: 0 0 24px 24px;
  padding: 33px 173px 47px 47px;
}

.portfolioContent .portfolioGrid .pCard .pCardText h3 {
  font-size: 20px;
  font-weight: bold;
}

.portfolioContent .portfolioGrid .pCard .pCardText p {
  font-size: 16px;
}

.CTA {
  height: 739px;
  background: #fff;
  margin-top: 132px;
  position: relative;
}

.CTA::before {
  content: "";
  position: absolute;
  height: 469px;
  width: 1550px;
  overflow: hidden;
  background-color: #f9f9fc;
  top: 0;
  z-index: -2232;
}

.CTA .CTAcontent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.CTA .CTAcontent .CTAtext {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 147px;
}

.CTA .CTAcontent .CTAtext h5 {
  color: #5E3BEE;
  font-size: 16px;
}

.CTA .CTAcontent .CTAtext h3 {
  font-size: 44px;
  margin: 13px 0;
}

.CTA .CTAcontent .CTAtext p {
  width: 600px;
  height: 58px;
  text-align: center;
  margin-bottom: 57px;
}

.CTA .CTAcontent .CTAcards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 41px;
}

.CTA .CTAcontent .CTAcards .cardCTA {
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 36px 58px 27px 42px;
  width: 594px;
  height: 369px;
  -webkit-box-shadow: 27px 37px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 27px 37px 80px rgba(0, 0, 0, 0.1);
}

.CTA .CTAcontent .CTAcards .cardCTA > p {
  margin-top: 36px;
  line-height: 26px;
  width: 47ch;
}

.CTA .CTAcontent .CTAcards .cardCTA .name {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18ch;
      grid-template-columns: 1fr 18ch;
  width: 218px;
  height: 64px;
}

.CTA .CTAcontent .CTAcards .cardCTA .name p {
  margin-left: 17px;
}

.CTA .CTAcontent .CTAcards .cardCTA .bttmcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CTA .CTAcontent .CTAcards .cardCTA .bttmcard img:last-child {
  width: 45px;
  height: 45px;
  margin-right: 35px;
}
/*# sourceMappingURL=style.css.map */